{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
      <br>
      
      <br>
      <div class="row">
        <section id="titulocontact" class="col-xl-12">
          <div id="contact1">
            <p class="col-xl-12 col-12">Mi Perfil</p>  
          </div>
          <div id="contact2">
            <p class="col-xl-12 col-12">blablablablablablablabla</p>
          </div>
        </section>
      </div>
      

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

{% endblock %}