{% extends 'base.html' %}
{% load static %}
{% block content %}
      <br>
      <section id="im" class="col-xl-12">
        <img src="https://via.placeholder.com/1330x200" alt="placeholder" class="col-12"/>
      </section>

      <section id="somos-text" class="col-xl-12">
        <br>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
          <p>
        <br>
      </section>
      
      <section id="mision-vision" class="col-xl-12">
        <div class="row">
          <div id="mision" class="col-xl-6">
            <img id="im-mision" src="https://via.placeholder.com/150x150" alt="placeholder" class="col-xl-6"/>
            <h2 class="col-xl-12">Misión</h2>
            <p class="col-xl-9">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.  s
            </p>
          </div>
          <div id="vision" class="col-xl-6">
            <img src="https://via.placeholder.com/150x150" alt="placeholder" class="col-xl-6"/>
            <h2 class="col-xl-12">Visión</h2>
            <p class="col-xl-9">
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem  
            </p>
          </div>
        </div>
      </section>

      <section id="valores" class="col-xl-12 col-12">
        <h2 class="col-xl-12 col-12">
          Valores
        </h2>
        <table id="tabla-valores" class="col-xl-12 col-12">
          <tr class="col-xl-12 col-12">
            <td class="col-xl-6 col-6">
              <img src="https://via.placeholder.com/100x100" alt="placeholder" />
              <p>Valor 1</p>
            </td>
            <td class="col-xl-6 col-6">
              <img src="https://via.placeholder.com/100x100" alt="placeholder" />
              <p>Valor 2</p>
            </td>
          </tr>
          <tr class="col-xl-12 col-12">
            <td class="col-xl-6 col-6">
              <img src="https://via.placeholder.com/100x100" alt="placeholder" />
              <p>Valor 3</p>
            </td>
            <td class="col-xl-6 col-6">
              <img src="https://via.placeholder.com/100x100" alt="placeholder" />
              <p>Valor 4</p>
            </td>
          </tr>
        </table>
      </section>

{% endblock %} 